*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url("imagenes/fondo.png");
    background-size: cover;
}

.form-login{
    width: 400px;
    height: 350px;
    background: rgb(201, 200, 200);
    margin: 70px;
    margin-top: 100px;
    box-shadow: 7px 13px 37px black;
    padding: 30px 40px;
    border: 3px solid black;
    border-radius: 6%;
}
.form-login h4{
    margin: 0;
    text-align: center;
    height: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.controls{
    width: 310px;
    border: 2px solid black;
    margin-bottom: 15px;
    padding: 11px 10px;
    border-radius: 7%;
}

.button {
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
  }

a{
    text-decoration: none;
    color: black;
}

.user-img {
    display: block;
    padding: 1px;
    width: 90px;
    margin: 0 auto;
}
.menu-desplegable{
    display: none;
}
input:checked ~ .menu-desplegable{
    display: block;
}
ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }
.logo{
    max-width: 3rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(226, 23, 23);
    font-family: sans-serif;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
    color: black;
}
.abrir-menu , .cerrar-menu{
    display: none;
    background: rgb(228, 2, 2);
    border: none;
    cursor: pointer;
}


@media screen and (max-width:2950px){
    .abrir-menu, .cerrar-menu{
        display: block;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }   

    .nav-list{
        flex-direction: column;
        align-items: end;
    }
}